head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Leaders like me
  style
    include ../public/styles.css
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap", rel="stylesheet")

body 
.header-container
  header
    p
      a(href="https://www.youtube.com/watch?v=TiheM6wSwes&ab_channel=TEDxTalks") #representationmatters
.logos
  img(src="../public/images/leaders.png", alt="leaders") 
  h1 Leaders like me

form(action='/leaders' method="post")
  .inputs
    .option1
      h2 My gender is
      span.custom-dropdown
        select(name='gender', id='gender')
          option Female ♀️
          option Male ♂
          option Transgender ⚨
          option Gender non-binary ⚥
    .option2
      h2 I identify as
      span.custom-dropdown
        select(name='sgm', id='sgm')
          option Gay ⚣
          option Heterosexual ⚤
          option Bisexual ⚥
          option None of the above
    .option3
      h2 I like
      span.custom-dropdown
        select(name='steam', id='steam')
          option Science
          option Technology
          option Engineering
          option Arts
          option Math
          option Social justice
input(type="submit", value="Submit") 

footer
  .footer-container
    p © 2021 Keith March Mistler | #[a(href="api-doc") API Documentation]