head 
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Leaders like me
  style
    include ../public/styles.css
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap", rel="stylesheet")

body
.header-container
  header
    p
      a(href="https://www.youtube.com/watch?v=TiheM6wSwes&ab_channel=TEDxTalks") #representationmatters
.logos
  img(src="../public/images/leaders.png", alt="leaders") 
  h1 Leaders like me

.leaderRandomized
  for leader in leaders
    a(href=`/leaders/${leaders.name}`)= leaders.name
    p Your leader is #[a(href=`leaders/${leaders.name}`)

footer
  .footer-container
    p © 2021 Keith March Mistler | #[a(href="api-doc.pug") API Documentation]